html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

#gallery {
	display: flex;
}

.li-js {
	list-style: none;
}

.img-js {
	width: 90%;
}

#validation-input {
	border: 3px solid #bdbdbd;
}

#validation-input.valid {
	border-color: #4caf50;
}

#validation-input.invalid {
	border-color: #f44336;
}

#font-size-control {
	margin-top: 50px;
}
